*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(rgba(43, 60, 53, 0.824), rgb(43, 60, 53)),url(photos/about.png)no-repeat ;
    background-size: cover;
    

}

.nav_about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#d9d9d9bd;
    height: 80px;
    padding: 0 50px;
    width:65%;
    margin: 30px auto;
    border-radius: 10px;
    
}

.nav_about a {
    list-style-type:none;
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
    color: #000000;
    font-size: x-large;
    padding: 27px 20px; 
    transition: background-color 0.3s ease;
}

.nav_about .text_link:hover{
    background-color: #002222da;

}
    
.all{
    background-color:#002222b5;
    width: 55%;
    height: 70%;
    margin: auto;
    border-radius:20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;    
}

.top{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    height: 60%;
    margin-bottom: 20px;
}

.left{
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
    height: 275px;
}

.right{
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
    height: 175px;
}

.low{
    display: flex;
    height: 20%;
    justify-content: space-between;
    margin: 0 10%;
    background-color:rgba(255, 255, 255, 0.5) ;
}