*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    height: 100vh;
    background: linear-gradient(rgba(43, 60, 53, 0.1), rgba(43, 60, 53, 0.6)),url(photos/image.png) no-repeat ;
    background-size: cover;
}

.nav_home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#D9D9D9;
    height: 80px;
    padding: 0 50px;
}

.nav_home a {
    list-style-type:none;
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
    color: black;
    font-size: x-large;
    padding: 27px 20px; 
    transition: background-color 0.3s ease;
}

.nav_home a:hover{
    background-color: rgb(22, 76, 51);

}


.logo{
    width: 100px;
    height: 50px;
    border-radius: 6px;
    
}

main{
    background-color: #d9d9d9c2;
    width: 60%;
    height: 50%;
    margin: auto;
    margin-top: 6%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
main div.top div{
    width: 33%;
    border: solid black 2px;
    height: 4rem;
    font-size: 1.7rem;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    width: 100%;
    top: 0;
}

.low{
    bottom: 50px;
    position: relative;
}
.texte{
    width: 90%;
    font-size: 1.6rem;
    position: relative;
    top: -10%;
}