*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #002222;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(rgba(43, 60, 53, 0.6), rgba(43, 60, 53, 0.6)),url(photos/fond.png) ;
    background-size: cover;

    
}
.all{
    height: 100%;
    display: flex;
}

.left{
    background-color: #d9d9d97b;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 22%;
    height: 100%;

}

.setting{
    margin-top: 25%;
}


.about a{
    list-style-type:none;
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
    color: black;
}

.logo_1{
    width: 204px;
    height: 143px;
    border-radius: 12px;
}


.right{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 78%;
}

.logo_2{
    width: 10%;
    height: 8%;
    border-radius: 6px;
}

.slogan{
    color: blanchedalmond;
    font-size:xx-large;
    text-align: center;
}

.start{
    background-color: #396762;
    width: 20%;
    height: 5rem;
    border-radius: 12px;
}
.start:hover{
    background-color: #234440;
}
.user_log{
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    color: #396762;
}
.user_log:hover{
    color: #234440;
}