*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #002222;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(rgba(43, 60, 53, 0.6), rgba(43, 60, 53, 0.6)),url(photos/fond.png) ;
    background-size: cover;

    
}
.all{
    height: 100%;
    display: flex;
}

.left{
    background-color: #d9d9d97b;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 22%;
    height: 100%;

}

.setting{
    margin-top: 25%;
}

.police_option{
    font-size: x-large;
    color: #002222;
}


.about a{
    list-style-type:none;
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
    font-size: x-large;
    padding: 15px;
}

.about i{
    font-size: x-large;
}

.about a:hover{
    background-color:#0022229b; ;
}

.logo_1{
    width: 204px;
    height: 143px;
    border-radius: 12px;
}


.right{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 78%;
}

.logo_2{
    width: 10%;
    height: 8%;
    border-radius: 6px;
}

.slogan{
    color: blanchedalmond;
    font-size:xx-large;
    text-align: center;
}

.start{
    background-color: #396762;
    width: 20%;
    height: 5rem;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
.start:hover{
    background-color: #234440;
}
.user_log{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    color: #396762;
}
.user_log:hover{
    color: #234440;
}
@media (width<=1072px) {
    .left img{
            width: 75%;
            height: auto;
    }
    .right img{
            width: 30%;
            height: auto;
    }

}
@media (width<=550px) {
    body{
        overflow-y: visible;
    }
    .all{
        flex-direction: column;
        align-items: center;
    }
    .left{
        width: 100%;
        height: auto;
        font-size: 1.5rem;
        padding-bottom: 10%;
    }
    br{
        display: none;
    }
    .right{
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .right img{
        display: none;
    }
    .left img{
        width: 25%;
        height: 18%;
}
}